body {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  margin: 0;
}

header {
  position: relative;
  flex: 0 0 10rem;
  height: 100vh;
  margin: 0;
  color: hsl(39, 50%, 50%);
  text-align: center;
  background-color: hsl(39, 10%, 15%);

  h1 {
    display: inline;
    padding: 1rem 0.2rem;
    font-size: 1rem;
    letter-spacing: 0.77rem;
    writing-mode: vertical-rl;

    &::before {
      display: inline-block;
      width: 7rem;
      height: @width;
      content: '';
      background: url('/img/logo.svg') center center no-repeat;
      background-size: contain;
    }
  }

  nav {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3rem;
    text-align: center;

    a {
      font-size: 2rem;
      color: hsl(39, 50%, 90%);

      &:hover {
        color: hsl(39, 50%, 95%);
      }
    }
  }
}

main {
  flex: 1;
  padding-left: 1em;

  a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
  }
}

button,
input {
  appearance: none;
}

input[placeholder] {
  width: 90%;
  max-width: 30rem;
  height: 2rem;
  text-indent: 0.5rem;
  border: thin solid hsl(39, 10%, 80%);
}

button[type='submit'] {
  height: 4rem;
  padding: 0 1rem;
  margin: 1rem 0;
  font-size: 1.3rem;
  line-height: @height;
  color: #fff;
  cursor: pointer;
  background-color: hsl(39, 90%, 55%);
  border: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: hsl(39, 90%, 50%);
  }
}
