doctype
html
  head
    meta(charset='utf-8')
    title 大トラッカー
    link(rel='stylesheet' href='/css/main.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    header
      h1 大トラッカー
      nav
       a(href=github aria-label='GitHub Repository')
         i(class='fa fa-github' aria-hidden='true')
    main
      p
        a(href='https://daichkr.hatelabo.jp/') 大チェッカー
        |のアンテナの更新履歴をRSSフィードにします。
      form(action='/feed')
        label(for='antenna') アンテナのURL（もしくはID）
        br
        input(name='antenna' id='antenna' placeholder='https://daichkr.hatelabo.jp/antenna/960640536987889038')
        br
        button(type='submit')
          i(class='fa fa-rss' aria-hidden='true')
          |大トラックする
      small ※誰でも編集可能なアンテナのみ対応しています。
