body {
  /* flex */
  display: flex;
  flex-direction: row;

  margin: 0;
}

a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

header {
  /* flex */
  flex-basis: 10rem;

  height: 100vh;
  margin: 0;

  background-color: hsl(39, 10%, 15%);
  color: hsl(39, 50%, 50%);

  text-align: center;
}

h1 {
  display: inline;
  margin: 0;
  padding: 1rem 0.2rem;

  font-size: 1rem;
  letter-spacing: 0.77rem;
  writing-mode: vertical-rl;
}

header nav {
  position: absolute;
  bottom: 0;
  text-align: center;
  height: 3rem;
  width: 10rem;
}

header h1 img {
  width: 7rem;
  height: 7rem;
}

header nav a {
  color: hsl(39, 50%, 90%);
  font-size: 2rem;
}

header nav a:hover {
  color: hsl(39, 50%, 95%);
}

main {
  padding-left: 1em;
}

button, input {
  appearance: none;
}

input[placeholder] {
  border: thin solid hsl(39, 10%, 80%);
  text-indent: 0.5rem;
  height: 2rem;
  min-width: 30rem;
}

button[type="submit"] {
  border: none;
  cursor: pointer;
  height: 4rem;
  line-height: 4rem;
  color: #fff;
  font-size: 1.3rem;
  background-color: hsl(39, 90%, 55%);
  transition: background-color 0.3s;
  margin: 1rem 0;
  padding: 0 1rem;
}

button[type="submit"]:hover {
  background-color: hsl(39, 90%, 50%);
}
